// .book-page {
//   padding-top: 7em;
//   width: 90%;
//   margin: auto;

//   display: flex;
//   flex-direction: column;

//   @media (min-width: $bp-laptop) {
//     width: 80%;
//   }

//   @media (min-width: $bp-laptop-lg) {
//     width: 70%;
//   }

//   .section {
//     display: flex;
//     flex-direction: column;
//     color: #62667b;
//     @media (min-width: $bp-tablet) {
//       margin: 3em 0 2em;
//     }
//     .infos {
//       margin-top: 1em;
//       display: flex;
//       flex-direction: column;
//       margin: auto;
//       font-size: 17px;
//       font-weight: 500;

//       p {
//         margin: 0.2em 0;
//       }

//       @media (min-width: $bp-tablet) {
//         justify-content: space-around;
//         flex-direction: row;
//         margin: auto;
//         width: 80%;
//       }
//     }
//   }
//   .book {
//     display: flex;
//     flex-direction: row;

//     img {
//       width: 100px;
//       max-width: 100px;
//       -webkit-box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.75);
//       -moz-box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.75);
//       box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.75);

//       @media (min-width: $bp-mobile-lg) {
//         width: 200px;
//         max-width: 200px;
//       }
//     }

//     .book-info {
//       display: flex;
//       flex-direction: column;
//       margin: 0 0 0 1.5em;
//       padding-right: 10px;

//       .rating {
//         margin: 0;
//         padding: 0;
//         max-width: 150px !important;
//       }

//       h1 {
//         font-weight: 500;
//         margin: 0;
//         padding: 0;
//         font-size: 1.2em;

//         color: #1f2643;
//       }

//       .autor {
//         margin: 0.3em 0;
//         font-size: 17px;
//         color: #62667b;

//         a {
//           text-decoration: none;
//           font-weight: 600;
//           letter-spacing: 0.7px;
//           color: #88cfed;
//         }
//       }

//       p {
//         color: #1f2643;
//       }

//       .descriere {
//         font-size: 16px;
//         color: #62667b;
//         font-weight: 500;

//         @media (min-width: $bp-tablet) {
//           width: 80%;
//         }
//       }
//     }
//   }

//   .actions {
//     // min-width: 10em;
//     display: flex;
//     flex-direction: column;
//     // border-left: 1px solid #eef4ff;
//     margin: auto;

//     @media (min-width: $bp-mobile-lg) {
//       flex-direction: row;
//       margin: auto;

//       .btn {
//         width: auto;
//         margin: 0;
//       }
//     }

//     .btn {
//       color: #1f2643;
//       font-size: 14px;
//       text-decoration: none;
//       margin: 1rem;
//       padding: 0.5rem;
//       border: 2px solid #88cfed;
//       border-radius: 0.5rem;
//       position: relative;
//       top: 0;
//       transition: all 300ms ease-in-out;
//       box-shadow: 0 0.6em #88cfed, 0 0.9em #e0e5f0;
//       outline: none;
//       cursor: pointer;

//       &:hover {
//         background: #88cfed;
//         color: black;
//       }

//       &:active {
//         top: 0.6em;
//         box-shadow: 0 0.2em rgba(0, 0, 0, 0.4);
//         outline: none;
//       }
//     }
//   }

//   .subcategories {
//     width: 80%;
//     margin: 1em auto;
//     padding: 1em;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     border-top: 1px solid #eef4ff;
//     border-bottom: 1px solid #eef4ff;

//     a {
//       text-decoration: none;
//       letter-spacing: 1px;
//       margin: 0 0.5em;
//       color: #1f2643;
//       padding: 6px 12px;
//       border: 1px solid #88cfed;
//       border-radius: 15px;
//       margin-right: 10px;
//       margin-bottom: 10px;
//     }
//   }
// }

// .similar {
//   display: flex;
//   flex-direction: column;
//   width: 80%;
//   margin: auto;

//   h2 {
//     font-weight: 500;
//     text-transform: uppercase;
//     margin: 1em 0;
//   }
//   .books {
//     display: flex;
//     flex-direction: row;

//     .book {
//       margin: 0 1em;
//       display: flex;
//       flex-direction: column;

//       img {
//         width: 130px;
//         height: 195px;
//         border-radius: 5px;
//         -webkit-box-shadow: 0px 3px 19px -4px rgba(0, 0, 0, 0.75);
//         -moz-box-shadow: 0px 3px 19px -4px rgba(0, 0, 0, 0.75);
//         box-shadow: 0px 3px 19px -4px rgba(0, 0, 0, 0.75);
//         transition: all 0.2s ease-in-out;
//         &:hover {
//           transform: scale(1.1);
//         }
//       }
//     }

//     .titlu {
//       margin: 0;
//       padding: 0;
//       font-size: 16px;
//       color: #666;
//       max-width: 130px;
//       text-decoration: none;
//     }

//     .autor {
//       margin: 5px 0;
//       padding: 0;
//       font-size: 14px;
//       color: #a1a1a1;
//       max-width: 130px;
//     }
//   }
// }

.book-page {
  display: flex;
  flex-direction: column;
  

  .top {
    padding-top: 7em;
    display: flex;
    flex-direction: column;
    background-color: #34495e;
    // height: 70vh;

    @media (min-width: $bp-laptop) {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .img-container {
        margin: auto 2em -2em 2em !important;
        
      }
      .book-container {
        margin: auto 0 -.5em 2em !important;
      }

    }


    .img-container {
      margin: auto;
      img {
        width: 130px;
        height: 195px;
        border-radius: 5px;
        box-shadow: 0px 3px 19px -4px rgba(0, 0, 0, 0.75);
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }

        @media (min-width: $bp-tablet) {
          width: 200px;
          height: 300px;
        }
      }
    }

    .book-container {
      margin: auto;
      text-align: center;
    }

    

    .book-info {
      text-align: center;
      color: #fff;
      margin: auto;

      div {
        justify-content: center;
      }
      
      .rating {
        text-align: center;
      }
      h1 {
        font-size: 1.4em;
        font-weight: 500;
        margin-bottom: 4px;
      }
      a {
        text-decoration: none;
        font-weight: 400;
        letter-spacing: 0.7px;
        color: $placeholder-text-color;
      }
    }

    .book-stats {
      display: flex;
      flex-direction: row;
      margin: 1.5em auto;

      div {
        flex-direction: column;
        text-align: center;
        margin: 0 1em;
        color: $placeholder-text-color;

        p { 
          margin: .2em 0;
          font-weight: 600;
          letter-spacing: 1px;
          color: #fff;
        }
      }
    }

    .book-id {
      display: flex;
      justify-content: center;
      color: #fff;
   
      p {
        font-weight: 600;  
        margin: 0 2em;
        cursor: pointer;
      }
    }

    .buttons {
      margin: 2em auto -1em;
      
      #btn1 {
        border-radius: 5px 0 0 5px;
      }
      #btn3 {
        border-radius: 0 5px 5px 0;
      }
      
      button {
        color: #1f2643;
        font-size: 14px;
        text-decoration: none;
        padding: 1em;
        border: none;
        transition: all 300ms ease-in-out;
        outline: none;
        cursor: pointer;
        background-color: $button-background-color;

        &:hover {
          background: $placeholder-text-color;
          color: black;
        }

        &:active {
          outline: none;
        }

      }
    }
  }

  .bottom {
    margin: 2em 0;

    @media (min-width: $bp-laptop) {
      margin: 4em 0;

    }


    .descriere {
      width: 90%;
      margin: auto;
      text-align: center;
      color: #8d8d8d;
    }

      .subcategories {
        width: 80%;
        margin: 1em auto;
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-top: 1px solid #eef4ff;
        border-bottom: 1px solid #eef4ff;

        a {
          text-decoration: none;
          letter-spacing: 1px;
          margin: 0 0.5em;
          color: #1f2643;
          padding: 6px 12px;
          border: 1px solid #88cfed;
          border-radius: 15px;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    
  }

}
