
.book-page {
  display: flex;
  flex-direction: column;
  

  .top {
    padding-top: 7em;
    display: flex;
    flex-direction: column;
    background-color: #34495e;
    // height: 70vh;

    @media (min-width: $bp-laptop) {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .img-container {
        margin: auto 2em -2em 2em !important;
        
      }
      .book-container {
        margin: auto 0 -.5em 2em !important;
      }

    }


    .img-container {
      margin: auto;
      img {
        width: 130px;
        height: 195px;
        border-radius: 5px;
        box-shadow: 0px 3px 19px -4px rgba(0, 0, 0, 0.75);
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }

        @media (min-width: $bp-tablet) {
          width: 200px;
          height: 300px;
        }
      }
    }

    .book-container {
      margin: auto;
      text-align: center;
    }

    

    .book-info {
      text-align: center;
      color: #fff;
      margin: auto;

      div {
        justify-content: center;
      }
      
      .rating {
        text-align: center;
      }
      h1 {
        font-size: 1.4em;
        font-weight: 500;
        margin-bottom: 4px;
      }
      a {
        text-decoration: none;
        font-weight: 400;
        letter-spacing: 0.7px;
        color: $placeholder-text-color;
      }
    }

    .book-stats {
      display: flex;
      flex-direction: row;
      margin: 1.5em auto;

      div {
        flex-direction: column;
        text-align: center;
        margin: 0 1em;
        color: $placeholder-text-color;

        p { 
          margin: .2em 0;
          font-weight: 600;
          letter-spacing: 1px;
          color: #fff;
        }
      }
    }

    .book-id {
      display: flex;
      justify-content: center;
      color: #fff;
   
      p {
        font-weight: 600;  
        margin: 0 2em;
        cursor: pointer;
      }
    }

    .buttons {
      margin: 2em auto -1em;
      
      #btn1 {
        border-radius: 5px 0 0 5px;
      }
      #btn3 {
        border-radius: 0 5px 5px 0;
      }
      
      button {
        color: #1f2643;
        font-size: 14px;
        text-decoration: none;
        padding: 1em;
        border: none;
        transition: all 300ms ease-in-out;
        outline: none;
        cursor: pointer;
        background-color: $button-background-color;

        &:hover {
          background: $placeholder-text-color;
          color: black;
        }

        &:active {
          outline: none;
        }

      }
    }
  }

  .bottom {
    margin: 2em 0;

    @media (min-width: $bp-laptop) {
      margin: 4em 0;

    }


    .descriere {
      width: 90%;
      margin: auto;
      text-align: center;
      color: #8d8d8d;
    }

      .subcategories {
        width: 80%;
        margin: 1em auto;
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-top: 1px solid #eef4ff;
        border-bottom: 1px solid #eef4ff;

        a {
          text-decoration: none;
          letter-spacing: 1px;
          margin: 0 0.5em;
          color: #1f2643;
          padding: 6px 12px;
          border: 1px solid #88cfed;
          border-radius: 15px;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    
  }

}
