.library {
  padding-top: 2em;
  display: flex;
  height: 100vh;

  .library-categories {
    display: none;
    padding-top: 2em;
    @media (min-width: $bp-tablet) {
      display: flex;
      flex-direction: column;
      min-width: 15em;
      box-shadow: 2px 0px 9px 0px rgba(0, 0, 0, 0.35);

      p {
        margin: 0.5em 1.2em;
        font-size: 1.1em;
        font-weight: 550;
        color: #666;
      }

      .categories-list {
        display: flex;
        flex-direction: column;
        padding: 0 1em 0 0.5em;

        a {
          color: #666;
          padding: 0.25em 1em;
          text-decoration: none;
          transition: 0.2s;
          border-left: 2px solid #fff !important;

          &:hover {
            color: $second-color;
            border-left: 2px solid $second-color !important;
          }
        }
      }
    }
  }
}
